<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analizador</title>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css' rel='stylesheet'>
    <script src="app.js"></script>
</head>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>
     <!-- xs (phones), sm (tablets), md (desktops) -->
    <div class="row" ng-app="">

        <div class="header center-xs col-xs-12 col-sm-12 col-md-12">
            <p>header</p>
            <form name="myForm" ng-submit="doSomething()">
               <div>Please <u>don't</u> type the words: coconuts, bananas or pears.</div>
               <input type="text" name="fruitName" ng-model="data.fruitName" blacklist="coconuts,bananas,pears" required/>
               <span class="invalid" ng-show="myForm.fruitName.$error.blacklist">
                  The phrase "{{data.fruitName}}" is blacklisted</span>
               <span class="invalid" ng-show="myForm.fruitName.$error.required">required</span>
               <br/>
               <button type="submit" ng-disabled="myForm.$invalid">Submit</button>
            </form>
        </div>

        <div class='input col-xs-12 col-sm-12 col-md-4'>
            <form name="my-form" ng-submit="do-something()" class="">

                <div class="btn-plane">
                    <i class="fa fa-paper-plane fa-2x"></i>
                </div>
                <textarea class="txtEntrada"  ng-model="name" placeholder="Escribe tu pseudo:"></textarea>
            </form>
        </div>


       <div class='output center-xs col-xs-12 col-sm-12 col-md-8'>
            <h1>Hello {{name}}</h1>
            <p>output</p>
       </div>
    </div>

</body>
</html>
