@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

*{
	padding: 0px;
	margin: 0px;
	background-color: #cdcdcd;
}
p{
	background-color: rgba(0, 0, 0, 0);
}

.borrado-fail{
	display: none;
}

.centrado-tag-p{
	font-family: Roboto;
	position: absolute;
	color: rgb(0, 0, 0);
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

.fa-paper-plane{
    color: #fff;
	background-color: rgba(0, 0, 0, 0);
	margin-top: 13px;
	margin-left: 4px;
}
.fa-trash{
	color: #d50000;
	position: relative;
	margin-left: 500px;
	float: right;
}
.fa-trash:hover{
	color: #dd2121;
}


.flowchart{
	position: absolute;
	margin-left: 600px;
	margin-top: 50px;
	display: inline-block;
	width: 850px;
	height: 100vh;
	background-color: #cdcdcd;
	padding: 15px;
	/*width: 60%;*/
	/*margin: 0 auto;*/
}

/*input{
	display: inline-block;
}*/

#txtAreaEntrada{
	position: fixed;
	display: inline-block;;
    padding: 10px;
	font-family: Khula;
	font-size: 20px;
	background: #273238;
	overflow: hidden;
	color: #DED064;
	height: 100vh;
	/*color: #b91944;*/
}


.send-button{
    position: absolute;
	left: 485px;
	top: 10px;
    color: #b91944;
	background-color: #b91944;
	width: 100px;
	height: 100px;
	border-radius: 500px;
}

.seccion1{
	width: auto;
	height: 100vh;
	display: inline-block;
}




.begin{
	position: relative;
	display: block;
	height: 70px;
	width: 120px;
	border-radius: 500px;
	background-color: rgb(254, 254, 254);
	margin-bottom: 5px;
}

.end{
	position: relative;
	display: block;
	height: 70px;
	width: 120px;
	border-radius: 500px;
	background-color: rgb(254, 254, 254);
	margin-bottom: 5px;
}
/*FORMAS*/
.INICIO{
	position: relative;
	display: block;
	width: 100px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(254, 254, 254);
	margin-bottom: 5px;
}

.Input{
	position: relative;
	display: block;
	width: 100px;
	height: 50px;
  	transform: skew(-20deg);
	background-color: rgb(153, 245, 95);
	margin-bottom: 5px;
}

.var{
	position: relative;
	display: block;
	width: 150px;
	height: 60px;
  	/*transform: skew(-20deg);*/
	background-color: rgb(133, 69, 196);
	margin-bottom: 5px;
}


.If {
	width: 90px;
	height: 90px;
	color: #428bca;
	transform: rotate(45deg);
	background-color: rgb(87, 186, 136);
	margin-top: 20px;
	margin-bottom: 20px;
}
.If .centrado-tag-p {
	transform: rotate(-45deg);
	background-color: rgba(87, 186, 136, 0);
	margin-top: -20px;
	margin-left: -20px;
}
.FIN{
	position: relative;
	display: block;
	width: 100px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(254, 254, 254);
	margin-bottom: 5px;
}


.Output {
   margin: 15px;
   width: 100px;
   height: 80px;
   background: rgb(177, 68, 127);
   position: relative;
   border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

.Output:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 0px;
   width: 0;
   height: 0;
   border-top: 40px solid transparent;
   border-right: 26px solid rgb(177, 68, 127);
   border-bottom: 40px solid transparent;
}
